.canva {
    width: 35%;
    position: absolute;
    bottom: 18%;
    left: 51%;
    background-color: var(--canva-rojo);
}


.poke__stats {
    width: 100%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .canva {
        width: 30%;
        bottom: 53%;
        left: 57%;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .canva {
        width: 25%;
        bottom: 40%;
        left: 42%;
    }

}