.form{
    position: absolute;
    width: 50%;
    top: 60%;
    left: -1.5%;
}

.input__search{
    width: 67%;
    padding: 4%;
    outline: none;
    border: 2px solid var(--input-gris-oscuro);
    border-radius: 5px;
    font-weight: var(--font-weight-alto);
    color: var(--input-azul-oscuro);
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 var(--input-gris-claro), -5px 7px 0 var(--input-gris-oscuro);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .form{
        width: 50%;
        top: 37%;
        left: 2.5%;
    }

}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .form{
        width: 34%;
        top: 47%;
        left: 6.5%;
    }

    .input__search{
        font-size: clamp(8px, 5vw, 0.5rem);
    }

}