.pokemon__img{
    position: absolute;
    bottom: 55%;
    left: 26%;
    transform: translate(-63%, 20%);
    height: 18%;
}

.pokemon__data{
    position: absolute;
    font-weight: var(--font-weight-alto);
    color: var(--pokemon-gris-claro);
    top: 50.5%;
    right: 70%;
    font-size: clamp(8px, 5vw, 25px);
}

.pokemon__name{
    color: var(--pokemon-gris-oscuro);
    text-transform: capitalize;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .pokemon__img{
        bottom: 73%;
        left: 30%;
        height: 9%;
    }

    .pokemon__data{
        top: 30.5%;
        right: 68%;
        font-size: clamp(8px, 5vw, 22px);
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .pokemon__img{
        bottom: 60%;
        left: 24%;
        height: 7%;
    }

    .pokemon__data{
        top: 42.5%;
        right: 70%;
        font-size: clamp(8px, 5vw, 14px);
    }
}